{#
/**
 * @file
 * Theme for p13n reaction.
 *
 * Available variables:
 * - reaction: the machine ID of the reaction.
 * - tag: container html tag.
 */
#}
{# Display the link as a fallback if there's no custom template in the theme. #}
<{{ tag }} class="p13n-plugin p13n-{{ plugin }} {{ plugin }}">{{ content }}</{{ tag }}>
