{#
/**
 * @file
 * Theme for p13n experience block.
 *
 * Available variables:
 * - uuid: The retrieval key, a base64 serialization of the type and machine Id of the construct used to fulfill.
 * - dimensions: array of dimensions to request for fulfillment, maybe empty.
 * - tag: html tag.
 */
#}
{# Display the link as a fallback if there's no custom template in the theme. #}
<{{ tag }}
  class="p13n-experience p13n-fulfill"
  data-pid={{ pid }}
  {% if dimensions %}data-dimensions="{{ dimensions|join(' ') }}"{% endif %}
></{{ tag }}>
